;; shadow-cljs configuration
{:source-paths
 ["src/cljs", "test/cljs"]

 :dependencies
 [[reagent "0.8.0"]
  [re-frame "0.10.6"]
  [re-pressed "0.3.0"]
  [day8.re-frame/http-fx "0.1.6"]
  [akiroz.re-frame/storage "0.1.2"]
  [funcool/bide "1.6.0"]
  [fipp "0.6.14"]
  ;; debugging
  [day8.re-frame/re-frame-10x "0.3.7-react16"]
  #_[day8.re-frame/tracing "0.5.1"]
  [philoskim/debux "0.5.6"]]

 :nrepl {:port 9000}

 :builds
 {:app {:target :browser
        :output-dir "public/app/js"
        :asset-path "/app/js"
        :modules {:main {:entries [airsonic-ui.core]}}
        :devtools {:http-root "public"
                   :http-port 8080
                   :after-load airsonic-ui.core/mount-root
                   :preloads [day8.re-frame-10x.preload]}
        :dev {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}}
  :test {:target :karma
         :output-to "public/test/ci.js"
         :ns-regexp "-test$"}}}
